<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <span class="title">Crear Producto</span>
          </div>
          <form
            class="mt-4"
            [formGroup]="productForm"
            (ngSubmit)="addProduct()"
          >

            <div class="mb-3">
              <input
                type="text"
                class="form-control form-control-lg"
                placeholder="Nombre"
                formControlName="name"
              />
              <div
                class="text-danger"
                *ngIf="
                  productForm.get('name')?.hasError('required') &&
                  productForm.get('name')?.touched
                "
              >
                <span>
                  El nombre del producto es <strong>obligatorio</strong>
                </span>
              </div>
            </div>

            <div class="mb-3">
              <input
                type="number"
                class="form-control form-control-lg"
                placeholder="Precio"
                formControlName="price"
              />
              <div
                class="text-danger"
                *ngIf="
                  productForm.get('price')?.hasError('required') &&
                  productForm.get('price')?.touched
                "
              >
                <span>
                  El precio del producto es <strong>obligatorio</strong>
                </span>
              </div>
            </div>

            <div class="mb-3">
              <input
                type="number"
                class="form-control form-control-lg"
                placeholder="Descuento"
                formControlName="discount"
              />
            </div>

            <div class="mb-3">
              <div class="mb-2 text-name">
                <span>Categoria:</span>
              </div>
              <select class="form-control form-control-lg" formControlName="category">
                <option *ngFor="let tag of categories" value="{{tag.name}}" >{{ tag.name }}</option>
              </select>
              <div
                class="text-danger"
                *ngIf="
                  productForm.get('category')?.hasError('required') &&
                  productForm.get('category')?.touched
                "
              >
                <span>
                  La categoría del producto es <strong>obligatoria</strong>
                </span>
              </div>
            </div>

            <div class="mb-3">
              <div class="mb-2 text-name">
                <span>Imagenes:</span>
              </div>
              <input
                type="file"
                (change)="captureFile($event)"
                class="form-control form-control-lg"
                placeholder="Imagenes"
                formControlName="imageUrl"
              />
              <div
                class="text-danger"
                *ngIf="
                  productForm.get('imageUrl')?.hasError('required') &&
                  productForm.get('imageUrl')?.touched
                "
              >
                <span>
                  La imagen del producto es <strong>obligatoria</strong>
                </span>
              </div>
            </div>

            <div class="mb-3">
              <textarea
                type="text"
                class="form-control form-control-lg"
                placeholder="Descripción"
                formControlName="description"
                rows="6"
              ></textarea>
              <div
                class="text-danger"
                *ngIf="
                  productForm.get('description')?.hasError('required') &&
                  productForm.get('description')?.touched
                "
              >
                <span>
                  La descripción del producto es <strong>obligatoria</strong>
                </span>
              </div>
            </div>

            <div class="mb-3">
              <textarea
                type="text"
                class="form-control form-control-lg"
                placeholder="Información"
                formControlName="information"
                rows="6"
              ></textarea>
              <div
                class="text-danger"
                *ngIf="
                  productForm.get('information')?.hasError('required') &&
                  productForm.get('information')?.touched
                "
              >
                <span>
                  La información del producto es <strong>obligatoria</strong>
                </span>
              </div>
            </div>

            <div class="mb-3 text-center">
              <button
                type="submit"
                [disabled]="productForm.invalid"
                class="btn btn-lg"
              >
                Agregar
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
