<section class="formulario">
  <div class="box1">

    <div class="titulo">
      <img src="../../../../assets/DLZ-Autito2.png" alt="">
      <h2><strong>Crear una Cuenta</strong></h2>
    </div>

    <form class="form" [formGroup]="signInForm" (ngSubmit)="registerNewUser()" class="form"  name="login">

      <div class="inputs">

        <div class="box-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label for="">Nombre</mat-label>
            <input class="mat-input" type="text" matInput formControlName="name" tabindex=”0”>
            <mat-error *ngIf="isValidField('name')">
              <strong>{{ getErrorMessage('name') }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label for="">Apellido</mat-label>
            <input class="mat-input" type="text" matInput formControlName="lastname" tabindex=”0”>
            <mat-error *ngIf="isValidField('lastname')">
              <strong>{{ getErrorMessage('lastname') }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label>Teléfono</mat-label>
            <input type="tel" formControlName="telephone" matInput placeholder="Ej. 5545281234" tabindex=”0”>
            <mat-error *ngIf="isValidField('telephone')">
              <strong>{{ getErrorMessage('telephone') }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label for="">Email</mat-label>
            <input class="mat-input" type="email" matInput formControlName="email" placeholder="Ej. delorean@gmail.com" tabindex=”0”>
            <mat-error *ngIf="isValidField('email')">
              <strong>{{ getErrorMessage('email') }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field color="accent">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" [type]="hide ? 'password' : 'text'" formControlName="password" tabindex=”0”>
            <i mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </i>
            <mat-error *ngIf="isValidField('password')">
              <strong>{{ getErrorMessage('password') }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field color="accent">
            <mat-label>Repetir Contraseña</mat-label>
            <input matInput type="password" [type]="hide2 ? 'password' : 'text'" formControlName="confirmPassword" tabindex=”0”>
            <i mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </i>
            <mat-error *ngIf="isValidField('confirmPassword')">
              <strong>{{ getErrorMessage('confirmPassword') }}</strong>
            </mat-error>
            <mat-error *ngIf="signInForm.get('confirmPassword')?.hasError('matchOther')">
              <strong>Las contraseñas no coinciden</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="validacion">
        <ul>
          <li type="disc">Usa al menos 1 mayúscula</li>
          <li type="disc">Usa al menos 1 minúscula</li>
          <li type="disc">Usa al menos 1 número</li>
          <li type="disc">Usa 8 o más caracteres</li>
        </ul>
        <div class="terminos">
          <input type="checkbox" formControlName="termsAndConditions" id="politica-privacidad" name="politica-privacidad" value="politica-privacidad" tabindex=”0”>
          <label for="politica-privacidad">
            <strong>Al crear una cuenta aceptas los </strong> <a routerLink='#'>Términos y Condiciones</a><strong> y la </strong><a routerLink='#'>Política de Privacidad</a>.
          </label>
        </div>
        <mat-error *ngIf="isValidField('termsAndConditions')">
          <strong>Debe aceptar los terminos y condiciones para poder registrarse</strong>
        </mat-error>

      </div>

      <div class="sign-in">
        <button [disabled]="signInForm.invalid" class="btn btn-lg" type="submit" tabindex=”0”>Crear Cuenta</button>
      </div>

    </form>
  </div>

  <div class="box2">
    <div class="login">
      <p>¿Tienes una cuenta?</p>
      <a routerLink='/login' tabindex=”0”><strong>Iniciar Sesión</strong></a>
    </div>
  </div>
</section>
