<section class="formulario">
  <div class="box1">

    <div class="titulo">
      <img src="../../../../assets/DLZ-Autito2.png" alt="">
      <h2><strong>Recupera tu Cuenta</strong></h2>
    </div>

    <form [formGroup]="identifyEmail" class="form" action="" method="" name="recover" >

      <div class="inputs">
        <div class="box-mail">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label for="">Email</mat-label>
            <input class="mat-input" type="email" matInput formControlName="email" placeholder="Ex. delorean@gmail.com" tabindex=”0”>
            <mat-error *ngIf="isValidField('email')">
              <strong>{{ getErrorMessage('email') }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="continue">
        <button type="submit" (click)="continueToCode()" tabindex=”0” >Continuar</button>
      </div>

    </form>
  </div>

  <div class="box2">
    <div class="sign-in">
      <p><strong>¿No tienes una cuenta?</strong></p>
      <a routerLink='/sign-in' routerLinkActive="active" ariaCurrentWhenActive="page" tabindex=”0”><strong>Regístrate.</strong></a>
    </div>
  </div>
</section>
