<div class="main">
  <div class="admin-list">
    <app-admin-list-news></app-admin-list-news>
  </div>
  <div class="div-title">
    <h2 class="title"><strong>Noticias</strong></h2>
  </div>

  <div class="section-notices">
    <div
      class="card-new"
      *ngFor="let new of news | paginate : { itemsPerPage: 4, currentPage: p }"
    >
      <img [src]="new.imageUrl" class="image-new" />
      <div class="body-card-new">
        <h4>
          <strong>{{ new.title }}</strong>
        </h4>
        <p class="text-card-new date">{{ new.date | date: "d/M/yyyy"}}</p>
        <p class="text-card-new">{{ new.description }}</p>
        <button routerLink="/news/{{ new.id }}">LEER MÁS</button>
      </div>
    </div>

    <pagination-controls
      (pageChange)="p = $event"
      previousLabel=""
      nextLabel=""
      class="pagination"
      (responsive)="([true])"
    ></pagination-controls>
  </div>
</div>
