@import 'extends-class'
@import 'mixins-responsive'

*
  color: $white

header
  @extend .font-general
  // @extend .flex-evenly-center
  display: flex
  justify-content: space-around
  // background-color: $pink
  width: 100%
  @include screen(720px)
    align-items: flex-start

  .navbar
    width: 80%
    display: flex
    align-items: center
    justify-content: space-around
    color: $white
    gap: 1em

    @include min-screen (992px)
      width: 100%
      gap: 0

    @include screen(720px)
      justify-content: flex-end
      width: 100%
      padding: 0 5%
      margin: 3% 0
      gap: 1em

    @include screen(390px)
      margin: 4% 0
      gap: 1.5em

    @include screen(320px)
      padding: 0 2%
      margin: 5% 0


    .logo
      width: 10%
      // background-color: $red
      display: flex
      justify-content: space-around

      @include min-screen (992px)
        width: 15%

      @include screen(991px)
        justify-content: flex-start
        width: 75%

      @include screen(720px)
        justify-content: flex-start
        width: 80%

      @include screen(480px)
        justify-content: flex-start
        width: 75%

      @include screen(390px)
        justify-content: flex-start
        width: 70%

      img
        @extend .logoDLZ

    .navbar-toggler
      border: none
      i
        color: $white
        font-size: 2em

    .container-fluid
      @include screen(720px)
        width: 100vh

    ul
      list-style: none
      gap: 2em


      @include min-screen (992px)
        gap: 0.5em

      @include screen(991px)
        gap: 0.5em
        align-items: center

      @include screen(720px)
        gap: 0.5em

      @include screen(320px)
        gap: 1em

      .navbar-nav
        margin: 0

      a
        color: $white
        font-size: 1.2em
        text-decoration: none
        @include min-screen (992px)
          font-size: 1em

        @include screen(320px)
          font-size: 1em

        a:link
          text-decoration: none
          color: $white

        a:visited
          text-decoration: none
          color: $white

    .buttons
      display: flex
      flex-direction: row
      justify-content: space-evenly
      width: 30%
      gap: 1em

      @include min-screen (992px)
        width: 25%
        gap: 0

      @include screen(991px)
        flex-direction: column
        align-items: center
        width: 100%
        border-top: 1px solid $white
        padding: 1em 0
        gap: 1em

      .login
        @extend .general-button
        @extend .short-button
        background-color: $pink

        @include screen(991px)
          width: 30%

        @include screen(720px)
          width: 50%

        @include screen(390px)
          width: 70%

        @include screen(320px)
          width: 90%

      .cart
        display: flex
        flex-direction: row
        justify-content: space-around
        align-items: center
        font-size: 1.6em
        width: 10%

        @include screen(720px)
          width: 50%

        @include screen(390px)
          width: 70%

        @include screen(320px)
          width: 90%

        a
          text-decoration: none
          position: relative

          .notificacion
            font-size: 20px !important
            color: #00aae4
            position: absolute
            top: -25%
            left: 60%



