@import 'extends-class'

header
  @extend .font-general
  @extend .flex-evenly-center

  img
    @extend .logoDLZ

  .nav-bar
    display: flex

    ul
      display: flex
      justify-content: space-around
      list-style: none
      margin: 0
      padding: 1em
      gap: 2em

    a
      color: $white
      font-size: 1.2em
      text-decoration: none

      a:link
        text-decoration: none
        color: $white

      a:visited
        text-decoration: none
        color: $white

  .buttons
    display: flex
    flex-direction: row
    justify-content: space-around
    width: 15%

    .login
      @extend .general-button
      @extend .short-button
      background-color: $pink

    .cart
      color: $white
      font-size: 1.6em
      width: 10%
      .notificacion
        font-size: 15px !important
        width: 50px
        background-color: $pink
        border-radius: 10px
