<footer>
  <div class="contenedor">
    <img src="../../../../assets/DLZ-Logo-Completo.png" alt="">
    <p>¡Síguenos en nuestra comunidad!</p>
    <div class="redes">
      <a href='https://instagram.com/delorean_zeta_oficial?igshid=YmMyMTA2M2Y='><i class="bi bi-instagram"></i></a>
      <a href="·"><i class="bi bi-twitter"></i></a>
      <a href="https://youtube.com/@deloreanzeta8770"><i class="bi bi-youtube"></i></a>
    </div>
  </div>

  <section>
    <div class="nosotros">
      <ul>
        <h4><strong>Nosotros</strong></h4>
        <li>
          <a routerLink='/home' routerLinkActive="active" ariaCurrentWhenActive="page" tabindex=”0”>Inicio</a>
        </li>
        <li>
          <a routerLink="/gallery" tabindex=”0”>Galería</a>
        </li>
        <li>
          <a routerLink="/store" routerLinkActive="active" ariaCurrentWhenActive="page" tabindex=”0” tabindex=”0”>Tienda</a>
        </li>
        <li>
          <a routerLink="/tours" routerLinkActive="active" ariaCurrentWhenActive="page" tabindex=”0”>Tours</a>
        </li>
        <li>
          <a routerLink="/about-us" tabindex=”0”>La Banda</a>
        </li>
      </ul>
    </div>

    <div class="faq">
      <ul>
        <h4><strong>FAQ</strong></h4>
        <li>
          <a routerLink="" tabindex=”0”>Política de Privacidad</a>
        </li>
        <li>
          <a routerLink="" tabindex=”0”>FAQ</a>
        </li>
        <li>
          <a routerLink="" tabindex=”0”>Noticias</a>
        </li>
      </ul>
    </div>

    <div class="soporte">
      <ul>
        <h4><strong>Soporte</strong></h4>
        <li>
          <a routerLink="" tabindex=”0”>Tu Cuenta</a>
        </li>
        <li>
          <a routerLink="" tabindex=”0”>Contrataciones </a>
        </li>
      </ul>
    </div>
  </section>
</footer>
