@import 'extends-class'

.contenedor
  @extend .font-general
  @extend .flex-column-evenly-center
  width: 100%
  height: auto
  margin: 0px
  gap: 1em
  color: #FFFFFF

  .contenedor1
    @extend .flex-column-around-center

    img
      width: 20em

    .redes
      @extend .flex-row-evenly-center
      width: 287px

      a
        color: $pink
        font-size: 2em
        text-decoration: none

        a:link
          text-decoration: none
          color: $pink

        a:visited
          text-decoration: none
          color: $pink

  .contenedor2
    p
      font-size: 20px
      text-align: center

    ul
      @extend .flex-row-around-wrap
      width: 100%
      gap: 2em

      li
        list-style: none
        a
          text-decoration: none
          color: #FFFFFF
          font-size: 20px


