//Fuente general
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Rubik+Glitch&display=swap%27')
$font-general: 'Poppins'
$font-style: normal

// Variables para el background fijo
$background-url: url('../../../assets/Fondo.png')

// Variables para colores
$white: #ffffff
$black: #111111
$grey: #666666
$pink: #E01D8D
$none-color: none

// Variables para boton transparente
$button-border-none: none

