<section class="titulo">
  <h1>Tienda</h1>
  <button>ver mas </button>
</section>

<section>
  <div class="producto">
    <img src="https://s3-alpha-sig.figma.com/img/5c3b/0338/6a06a9e8e9682309960f84e30912c658?Expires=1669593600&Signature=CICRnrlS7UqPk4kYxe8bZdy4TP4FoI7JiTnSijJWcP4phjsz7zBPC~VveoOI5e6Q3wQQxxX5qvyG33eJ8lVQXQmss6vNh8SyuQxVMYIIuTpxFEhiEK2-HkMwRYd0GHS8Y3jwSl896o14VtEWenUbZJ7EayjWBzqfjrvQkN38U9OXJYzAZ6aVpXmrlqiOHk2GOJMAnykbssP~qTydwaYGnzWjrAhLuQPCDcxpypOJ~QXJu0sJqtmtxWhCog20gRH7UmlnMWJ8SF4IrSG19CePm8NwJ81kwUJSIegizmUJIkGrg21w~bFrWqN1a-Qv5g~W9utwv2XyvGxgYieW9VNFQA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
    <h2>soy un producto</h2>
    <h3>$15000</h3>
  </div>
  <div class="producto">
    <img src="https://s3-alpha-sig.figma.com/img/38d0/d4a9/adca8bcc7ccc1aa67a0b02a9073e845e?Expires=1669593600&Signature=Y70Ye6gOTOqCrYAW8b1i4jd2Q7LUcOe3Fal0fGYt1Qv4g7Z3-rvEJVVAB6rirhFoUjM1oYAJbBzgnNjGh4r4ZNiou8OE66~XUNawEM6zMyAuiW16E4weIgI4MqUR9Yx78QlobDxV4raslU4xwnwyBzAhVwI8Er2b-p7KnGMqIpA6OB3nEAW4uv2Dx-m1nJQtuG5D4zxl9xUSP1WpGv4ijc7~6rHNf~-ardeTH3A0K1I7CGBD9gLLHFCR0KdJBxf3re6RkpTDqF4Ir4KWNixsXDBniQN-JZxZiCSSqxlU2Gnp9Z9Tj62xaDl-c-8vWnPkweoiro4RLGw5aHuUNqAomw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
    <h2>soy un producto</h2>
    <h3>$15000</h3>
  </div>
  <div class="producto">
    <img src="https://s3-alpha-sig.figma.com/img/389d/28e2/a7eec506f31eaef9af8948a6392d4a8e?Expires=1669593600&Signature=WOIYFb~8aeuTfHbPYgMdafm378hnhIpj2d3N2Z55dyHCav0zj0M8WHjQUx8zgTVd3TQfXzkErNjrBz3pzJcTKt51tpv6jU6-R6zO6ZFKYyVoj3Mn~SfJ2-epSGy3bYH9q48v3tzyQ~bxbICPjQxI9F7WX6t8u3k3ophNQTNLMWDkM6TOVFUAvq4512FTdxYOkKCk4PcIBdsUJcaZWt7ycgFROLzL0oUq2xZQfNjzQoRU4Nk1pKVlYMb2TATi9AgXoXiIBnjPzp6BXm0~TJ-T8LHqj34EIH4DGddBq~kqtLJOtqE7uYscgL8SKo5nrBgEaYUapURfivTPIRb2DWrIfQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
    <h2>soy un producto</h2>
    <h3>$15000</h3>
  </div>
</section>

