<section class="contenedor">
  <div class="contenedor-titulo">
    <div class="titulo">
      <h1><strong>Tienda</strong></h1>
    </div>
    <button>
      <strong>Ver más <i class="bi bi-arrow-right"></i></strong>
    </button>
  </div>

  <div class="contenedor-productos">
    <ul>
      <li *ngFor="let product of products">
        <a routerLink="/store/product/{{ product.id }}">
          <img [src]="product.imageUrl" [alt]="product.name">
          <div class="content">
            <div class="name">
              <strong>{{ product.name }}</strong>
            </div>
            <div class="contenedor-precio">
              <div class="cart">
                <a><strong><i class="bi bi-cart3"></i></strong></a>
              </div>
              <div class="price">
                <span><strong>{{ product.price | currency }}</strong></span>
              </div>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
