<main class="gallery">

  <div class="div-title">
      <h2 class="title"><strong>Galería</strong></h2>
  </div>

  <div class="gallerySection">
    <div *ngFor="let i of sources" class="card-gallery">
      <!-- MODAL QUE MUESTRA LA IMAGEN SELECCIONADA, PERO NO RECORRE LAS IMAGENES -->
      <img [src]="i.imageUrl ? i.imageUrl : ''" class="image-gallery" (click)="i.imageUrl ? open(content, i.imageUrl) : ''">


      <!-- MODAL QUE NO MUESTRA LA IAMGEN SELECCIONADA, PERO RECORRE LAS IMÁGENES -->
      <!-- <img [src]="i.imageUrl" class="image-gallery" (click)="openTwo(content)"> -->
    </div>
  </div>

  <ng-template #content let-c="close" let-d="dismiss" class="template">

    <section class="contenedorSwiper">

      <swiper
        [navigation]="true"
        [loop]="true"
        [spaceBetween]="10"
        class="mySwiper">

        <ng-template swiperSlide *ngFor="let i of sources">

          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')" [ngStyle]="{'color':'white','background-color':'rgba( 0, 0, 0, 0.5)','text-align':'center', 'width': '40px', 'height': '40px', 'position': 'absolute', 'right': '0%'}">
            <span aria-hidden="true" [ngStyle]="{'font-size': '22px', 'font-weight': 'bold'}">&times;</span>
          </button>

          <div class="contenedorImagen">
            <!-- MODAL QUE MUESTRA LA IMAGEN SELECCIONADA, PERO NO RECORRE LAS IMAGENES -->
            <img [src]="selectedImageUrl" alt="Delorean-Banner" width="100%" height="500px">

            <!-- MODAL QUE NO MUESTRA LA IAMGEN SELECCIONADA, PERO RECORRE LAS IMÁGENES -->
            <!-- <img [src]="i.imageUrl" alt="Delorean-Banner" width="100%" height="500px"> -->
          </div>

        </ng-template>

      </swiper>

    </section>

  </ng-template>

</main>