<h1 mat-dialog-title class="title">{{ data.title }}</h1>
{{ data.tour | json }}
<hr>
<mat-dialog-content>
  <div class="modal-form">
    <form
      class="form"
      [formGroup]="tourForm"
      (ngSubmit)="saveTour()"
      class="form"
      name="login"
    >
      <div class="inputs">
        <div class="date-picker box-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label for="">Elije una fecha</mat-label>
            <input
              matInput
              [matDatepicker]="picker"
              [value]="date | customDateFormat"
              formControlName="date"
              tabindex="”0”"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
            <mat-error *ngIf="isValidField('date')">
              <strong>{{ getErrorMessage("date") }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label for="">Lugar</mat-label>
            <input
              class="mat-input"
              type="text"
              matInput
              formControlName="place"
              tabindex="”0”"
            />
            <mat-error *ngIf="isValidField('place')">
              <strong>{{ getErrorMessage("place") }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label for="">Ciudad</mat-label>
            <input
              class="mat-input"
              type="text"
              matInput
              formControlName="city"
              tabindex="”0”"
            />
            <mat-error *ngIf="isValidField('city')">
              <strong>{{ getErrorMessage("city") }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="submit"></div>
    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="submit">
  <button class="btn btn-lg btn-secondary">Cancelar</button>

  <button
    [disabled]="tourForm.invalid"
    class="btn btn-lg button-submit"
    type="submit"
    tabindex="”0”"
  >
    Agregar
  </button>
</mat-dialog-actions>
