<body>
  <app-nav-bar [visibleNav]="false"></app-nav-bar>

  <section>
    <mat-tab-group
      dynamicHeight="true"
      mat-align-tabs="center"
      color="primary"
      backgroundColor="accent"
    >
      <mat-tab label="Galeria" routerLink=""> </mat-tab>

      <mat-tab label="Tienda"> <app-admin-store></app-admin-store> </mat-tab>

      <mat-tab label="Noticias"> </mat-tab>

      <mat-tab label="Tours"> </mat-tab>

      <mat-tab label="La Banda"> </mat-tab>
    </mat-tab-group>

    <!-- <nav class="navegador">
      <ul>
        <li>
          <a routerLink="/admin/profile/store">
            <strong>Galeria</strong>
          </a>
        </li>
        <li>
          <a routerLink="/admin/profile/store">
            <strong>Tienda</strong>
          </a>
        </li>
        <li>
          <a href="">
            <strong>Noticias</strong>
          </a>
        </li>
        <li>
          <a href="">
            <strong>Tours</strong>
          </a>
        </li>
        <li>
          <a href="">
            <strong>La Banda</strong>
          </a>
        </li>
      </ul>
    </nav> -->
  </section>

  <app-footer></app-footer>
</body>
