<section class="formulario">
  <div class="box1">

    <div class="titulo">
      <img src="../../../../assets/DLZ-Autito2.png" alt="">
      <h2><strong>Cambiar Contraseña</strong></h2>
    </div>

    <form [formGroup]="resetForm" (ngSubmit)="continueToCode()" class="form" name="reset-password">

      <div class="inputs">

        <div class="box-pass">
          <mat-form-field class="example-full-width"color="accent">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" [type]="hide ? 'password' : 'text'" formControlName="password" tabindex=”0”>
            <i mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </i>
            <mat-error *ngIf="isValidField('password')">
              <strong>{{ getErrorMessage('password') }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="box-pass">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label>Repetir Contraseña</mat-label>
            <input matInput type="password" [type]="hide2 ? 'password' : 'text'" formControlName="confirmPassword" tabindex=”0”>
            <i mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </i>
            <mat-error *ngIf="isValidField('confirmPassword')">
              <strong>{{ getErrorMessage('confirmPassword') }}</strong>
            </mat-error>
            <mat-error *ngIf="resetForm.get('confirmPassword')?.hasError('matchOther')">
              <strong>Las contraseñas no coinciden</strong>
            </mat-error>
          </mat-form-field>
        </div>

      </div>

      <div class="validacion">
        <ul>
          <li type="disc">Usa al menos 1 mayúscula</li>
          <li type="disc">Usa al menos 1 minúscula</li>
          <li type="disc">Usa al menos 1 número</li>
          <li type="disc">Usa 8 o más caracteres</li>
        </ul>
      </div>


      <div class="reset-pass">
        <button  type="submit" class="btn btn-lg" tabindex=”0”>Restablecer la Contraseña</button>
      </div>

    </form>
  </div>

  <div class="box2">
    <div class="login">
      <p>Regresa a</p>
      <a routerLink='/login' routerLinkActive="active" ariaCurrentWhenActive="page" tabindex=”0”><strong>Iniciar Sesión</strong></a>
    </div>
  </div>
</section>

