<section class="formulario">
  <div class="box1">

    <div class="titulo"><strong></strong>
      <img src="../../../../assets/DLZ-Autito2.png" alt="">
      <h2><strong>Iniciar Sesión</strong></h2>
    </div>

    <form class="form" action="" method="" name="log-in">

      <div class="inputs">
        <div class="box-mail">
          <label for="">Email</label>
          <input type="email" id="email" name="email" tabindex=”0”>
        </div>

        <div class="box-pass">
          <label for="">Contraseña</label>
          <input type="password" id="pass" name="pass" tabindex=”0”>
        </div>

      </div>

      <div class="login">
        <input type="submit" tabindex=”0” value="Iniciar Sesión">
        <a href="#" tabindex=”0”><strong>¿Olvidaste tu contraseña?</strong></a>
      </div>

    </form>
  </div>

  <div class="box2">
    <div class="sign-in">
      <p><strong>¿No tienes una cuenta?</strong></p>
      <a href="#" tabindex=”0”><strong>Regístrate.</strong></a>
    </div>
  </div>
</section>
