<section class="formulario">
  <div class="box1">

    <div class="titulo"><strong></strong>
      <h1><strong>Iniciar Sesión</strong></h1>
    </div>

    <form class="form">
      <div class="inputs">
        <div class="box-mail">
          <label for="">Email</label>
          <input tabindex=”0”>
        </div>

        <div class="box-pass">
          <label for="">Contraseña</label>
          <input tabindex=”0”>
        </div>

      </div>

      <div class="login">
        <button tabindex=”0”><strong>Iniciar Sesión</strong></button>
        <a href="#" tabindex=”0”><strong>¿Olvidaste tu contraseña?</strong></a>
      </div>

    </form>
  </div>

  <div class="box2">
    <div class="sign-in">
      <p><strong>¿No tienes una cuenta?</strong></p>
      <a href="#" tabindex=”0”><strong>Regístrate.</strong></a>
    </div>
  </div>
</section>
