<section class="formulario">
  <div class="box1">
    <div class="titulo">
      <h2>Iniciar Sesión</h2>
    </div>
    <div class="form">
      <div class="inputs">
        <label for="">
          <p>Email</p>
        </label>
        <input>
      </div>
      <div class="inputs">
        <label for="">
          <p>Contraseña</p>
        </label>
        <input>
      </div>
      <div class="login">
        <button>Iniciar Sesión</button>
      </div>
      <div class="forgot-pass">
        <a href="#">¿Olvidaste tu contraseña?</a>
      </div>
    </div>
  </div>
  <div class="box2">
    <div class="register">
      <p>¿No tienes una cuenta?</p>
      <a href="#">Regístrate.</a>
    </div>
  </div>
</section>
