<h1 mat-dialog-title class="title">{{ data.title }}</h1>
<hr />
<mat-dialog-content>
  <div class="modal-form">
    <form
      class="form"
      [formGroup]="productForm"
      (ngSubmit)="saveProduct()"
      class="form"
      name="product"
    >
      <div class="inputs">

        <div class="box-form box-image">

          <div class="card" *ngFor="let img of archivos">
            <div class="face front" >
              <img  [src]="img" />
            </div>
          </div>
          <input
            alife-file-to-base64
            multiple
            type="file"
            (onFileChanged)="captureFile($event)"
            formControlName="imageUrl"
            tabindex="0"
          />
          <mat-error
            *ngIf="
              productForm.get('imageUrl')?.hasError('required') &&
              productForm.get('imageUrl')?.touched
            "
          >
            <strong
              >La imagen del producto es <strong>obligatoria</strong></strong
            >
          </mat-error>

        </div>

        <div class="box-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label for="">Nombre</mat-label>
            <input
              class="mat-input"
              type="text"
              matInput
              formControlName="name"
              tabindex="0"
            />
            <mat-error *ngIf="isValidField('name')">
              <strong>{{ getErrorMessage("name") }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label for="">Precio</mat-label>
            <span matPrefix>$ &nbsp;</span>
            <input matInput #price formControlName="price" type="number" min="0" tabindex="0">
            <mat-error *ngIf="isValidField('price')">
              <strong>{{ getErrorMessage("price") }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label for="">Descuento</mat-label>
            <mat-select formControlName="discount" tabindex="0">
              <mat-option value="0">0%</mat-option>
              <mat-option value="5">5%</mat-option>
              <mat-option value="10">10%</mat-option>
              <mat-option value="15">15%</mat-option>
              <mat-option value="20">20%</mat-option>
              <mat-option value="25">25%</mat-option>
              <mat-option value="30">30%</mat-option>
              <mat-option value="35">35%</mat-option>
              <mat-option value="40">40%</mat-option>
              <mat-option value="45">45%</mat-option>
              <mat-option value="50">50%</mat-option>
              <mat-option value="55">55%</mat-option>
              <mat-option value="60">60%</mat-option>
              <mat-option value="65">65%</mat-option>
              <mat-option value="70">70%</mat-option>
              <mat-option value="75">75%</mat-option>
              <mat-option value="80">80%</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label for="">Categoría</mat-label>
            <mat-select formControlName="category" tabindex="0">
              <mat-option *ngFor="let tag of categories" value="{{ tag.name }}">
                {{ tag.name }}
              </mat-option>
              <mat-option value="valid">Valid option</mat-option>
              <mat-option value="invalid">Invalid option</mat-option>
            </mat-select>
            <mat-error *ngIf="isValidField('category')">
              <strong>{{ getErrorMessage("category") }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label>Descripción</mat-label>
            <textarea
              matInput
              class="mat-input"
              formControlName="description"
              #message
              maxlength="143"
              tabindex="0"
            ></textarea>
            <mat-hint align="end">{{message.value.length}} / 143</mat-hint>
          </mat-form-field>

          <mat-error *ngIf="isValidField('description')">
            <strong>{{ getErrorMessage("description") }}</strong>
          </mat-error>
        </div>

        <div class="box-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label>Información</mat-label>
            <textarea
              matInput
              class="mat-input"
              formControlName="information"
              tabindex="0"
            ></textarea>
          </mat-form-field>

          <mat-error *ngIf="isValidField('information')">
            <strong>{{ getErrorMessage("information") }}</strong>
          </mat-error>
        </div>
      </div>

      <div class="submit">
        <button mat-dialog-close class="btn btn-lg btn-secondary">
          Cancelar
        </button>
        <!-- [disabled]="productForm.invalid" -->
        <button

          class="btn btn-lg button-submit"
          type="submit"
          tabindex="0"
        >
          Agregar
        </button>
      </div>
    </form>
  </div>
</mat-dialog-content>
