<section class="product-carrusel">

  <app-title
    [visible]="true"
    title="Tienda"
    titleButton="Ver más"
    resetLinkRoute="/store"
></app-title>

  <div class="contenedorCarrusel">
    <swiper
    [config]="config"
    class="mySwiper"
    >
      <ng-template swiperSlide *ngFor="let product of products">

        <div class="contenedor-productos">
          <a routerLink="/store/product/{{ product.id }}">
            <div class="col">
              <div class="image-name">
                <img
                  [src]="product.imageUrl[0]"
                  [alt]="product.name"
                  class="card-img-top"
                >
                <div class="name">
                  <strong>{{ product.name }}</strong>
                </div>

              </div>

            </div>

          </a>
          <div class="contenedor-precio">
            <div class="cart">
              <button>
                <strong><i class="bi bi-cart3"></i></strong>
              </button>
            </div>

            <div class="price">
              <span>
                <strong>{{ product.price | currency }}</strong>
              </span>
            </div>
          </div>

        </div>

      </ng-template>
    </swiper>
  </div>

</section>
