section
  height: 600px

img
  height: 364px
  width: 1001px
  display: center
  margin-left: 222px

input
  display: center
  color: white
  background-color: #E01D8D
  border-radius: 12px
  margin-left: 600px
  margin-right: 600px
  width: 160px
  height: 72px
