<section>
  <img src="https://s3-alpha-sig.figma.com/img/ac0d/cc7a/78882a32dad8b974ba6211dfb7531bc6?Expires=1669593600&Signature=ZRgS9eFdXCoOZRejU4lQsGuHP8ALToMFuBh0fO0Kcy~gPP7hw1oJBVsvftpVq4ZWtCgTHIqJTJMH-AIBtsr1GTCtNcIp13LA5f5As7pQyWTzFkSWGThF5xcJYar6xe-L1hI8rztmL9ACkszSTmi8OQJ4mTgsvpNYAmDw9IObmT3lIeFcp-khd~iTcZyFHDhouWiq0CB-k2XAL9vu9~EKaXHbZSN5NIAOqxROFxNhsagMoqhOqIz1g-~0kPQq8kLs56y2ILJ7LizGcS9TktqrDAjsb4i-tOvW2aqP10F4gJD6UsmtqueQFQg5vnF3R5qz9CyPTabgBbpJfNob4-oKBg__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
  <input type="button" value="Enter site">
</section>
