<section>
<div>
  <h1>Noticias</h1>

</div>
<div>
  <select name="dog-names" id="dog-names">
    <option value="rigatoni">Rigatoni</option>
  <option value="dave">Dave</option>
  <option value="pumpernickel">Pumpernickel</option>
  <option value="reeses">Reeses</option>
</select>
</div>
<div>
  <select name="dog-names" id="dog-names">
    <option value="rigatoni">Rigatoni</option>
  <option value="dave">Dave</option>
  <option value="pumpernickel">Pumpernickel</option>
  <option value="reeses">Reeses</option>
</select>
</div>
<div>
  <select name="dog-names" id="dog-names">
    <option value="rigatoni">Rigatoni</option>
  <option value="dave">Dave</option>
  <option value="pumpernickel">Pumpernickel</option>
  <option value="reeses">Reeses</option>
</select>
</div>
</section>


<div class="container text-center">
  <div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="https://s3-alpha-sig.figma.com/img/c378/60e7/a7f77ae50d1e486d78289b75f106c6f2?Expires=1669593600&Signature=RRz90llsGZt5oVI5Hv4orlsAS5vMf17rQtJIqjK73eNZysjafmrzcKKUHLVDx0bACsXulMvFolW9ty-R-q80vEDPwctW~OTftaLSSYkcOfWeurb4hNw4GXauhO6Xm09EL0fuA7mJA6936ZBOaOzvFmj4QMnjoIasNZGPBDlO5x8~dCC2tApn9PG21IGCSBoUvy5ec9AQi-G9Cr-Ivpl5WwC-xDvGWBZt8YGRtb64bEWct7VKamNRwBZR~AgK9EHewSgwuS4hZ5EnTRq~yt4bsGHV8omoKOVc4-bJsaaIu0YzWfryTVedakENn4XU4qr3HxJreqcS12o53zUnepSOAA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="https://s3-alpha-sig.figma.com/img/d1e9/d4b5/ef573d1ec73e08723977d6b103fa7302?Expires=1669593600&Signature=MxV018UWPKJmKf9iIQ2gjhgB1pF7MApAE5CccpJXcz6dwFq2BLoyZe0Wpy20MGfMyH9vCYCJNqcXiqTSg103T-uTAAP2vXz2wDsfPGFFNHKmmFaCIRVOUABgWSB3dh00zemru9gNcPtXSrxdfm-db1EVrxUrcrfC~XYS8U1psG8vew9EXUkhymQplyq6Y0kFAF8AF-8v~c2BhqxvGmk2PC2-5k9YXus35iryllLMcq~pBHo-PNPmJ-yWNYoxVAKWT7mtQM-UKXmBTb1qnBa2uGMo-uZgieWixzAKTFBrIMePmcKM0hpABlSWCrRgjCBW2EGqAp1ihZV7lqbrJWCP5g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="https://s3-alpha-sig.figma.com/img/2214/e3a7/250ef9deee3a4b6f469d2e9e6eb0a839?Expires=1669593600&Signature=Hh~Fx3dpfH5szujwd1K76crn00J~BkMbS7CX70fnpy-xb6l8f1bhscvzb6UoYu~B6iHGer6XI9wZ9Q8s4IAPxS57Z9-SmNF7jBMg0i9WEVZm-UX8HbxdjCSn4JqZrN8QlmaMdJ9neyEiMhKYEtxLnjS1G0958-Y8a2TVEjjna-WejAkQ~v~trWJ0LZeuVXwluNoVZZBplGCHVK4qefSB~yN-CpQ8e5Er6FpfnSxqhrcGOm4CEY4Mkcjh96jrlgxVwxMYna28HSF4nSUpFyJpORpRZ~cvciT3dpSbR5dz8cFxnU-2yplOgmS0ZzRIbMWPFv~Y1D3JQlylA-ZsgO4g7A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">An item</li>
        <li class="list-group-item">A second item</li>
        <li class="list-group-item">A third item</li>
      </ul>
    </div>
  </div>
  </div>
</div>
<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://s3-alpha-sig.figma.com/img/1255/1992/ae381ef2b76e31c9b694dac1c8652fdb?Expires=1669593600&Signature=RsULkfhJbqKjcoTwcb5MRe1bAQV1MV9kOMp4D4iI5cXqPsN1sMlX3m6fyInEwspy54d--2I9MllgTnBb-OGGwPmsv2cjUry~ZF295EOlNtA2X92ZWmZo3DMtHm-Jxqf55mlGQrgeWxjsucTug1VuLYiwInfOifiabHNV-I9uAlSWDseH62b2RynQbRY2h5QWBFvee6wXeg0DZOVxiE8sAymFC5lgX1gvLyKYncf6pviCYMwg55OzfWQySH1tLjmZb5fjPBY~LpmilHYvkS6tHFY8ZgDP~Y0TT9WTvLP5CreulLkYGEIq1RoihEcM4bp1smamBYEl~ckk6im8vutvTw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://s3-alpha-sig.figma.com/img/8bed/b6ce/4774b8ff8c1ba621ed348f1f282ff9ae?Expires=1669593600&Signature=KKPVWWeC0rJn~9h4nBkI9DTbpzzxUwrLUMVPCY90vVxtf~lZRWQDjTPMV2gDLF9uMPRCBEydhXrtbD0f310j1pEHMs5GDi-sQ56H2moaEVhk6H7o5nUW3NgqUJyG-zCj12csHdSOa52ew0xbO1A6fAG8RWaESK5joMBxIRIMk48xYbuFAzFG19AFpPjFV6FaJMtXtIaVf0BjIILX8-hGZzD2ON6HjKCTKyWK3mNERd4LFcKD5aRke3hEmcLm~KwUTxjvLUBVynJivgLIw0b7xEMtPm5f8WvIetPigT3T3bbbVZq5B3LuPkysJk0jUp2qDp9L8r4ulyBrMdtB9j3zNw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="https://s3-alpha-sig.figma.com/img/3f2e/856d/f8f263edbb810e718e31fc44d7bc1cc7?Expires=1669593600&Signature=G5JR7NviE-Ln2Iko-g2x9CsMlxXLVWFdCC3PZhSc~wXRTGmPEaqhrdBR7bTbJ913Hhvc9IAEOKavi08db~aUFfxHCb8hLsFc5pxsbJurc-NRV8lOvZpw0BiP5cibXlV5ATaYNyLum3izL~~oMQmu-pkUeMdusaxTftm1CzHlK7BukoxVpmC0mtL~NRFaf0LlKOeqpAES7pB0U2NMGEiHPUNV8Vvvs4UsorwpZ8-kknDckwodkcggCB9Nd56-BTH~CYh1dUuSBbT5~soWAuWYYYxLbLWg6vA6bYK2ynbTh6dq16h3sy8pKf6ThNni2CBEi0vDtTjU1CNNfwqx-6uJqQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>
  </div>
</div>
