section
 display: flex
 flex-flow: row nowrap
 justify-content: space-between
 margin-top: 54px
 margin-left: 180px
 margin-bottom: 50px
 width: 1000px
div
 padding: 10px 10px 10px 10px

.nav
 justify-content: space-between
 font-family: 'Poppins' , sans-serif

h1
 font-weight: bold
 color:  #242565


select
 margin-top: 20px
 border-radius: 50px
 background: #F2F4FF
 font-family: 'Poppins', sans-serif


.container
 margin-left: 160px
 margin-bottom: 20px
 border-color: #CCC

img
 width: 343.05px
 height: 250px
 border-top-right-radius: 18.95px
 border-top-left-radius: 18.95px

p
 font-family: 'Poppins', sans-serif
