<section class="nav">
<div>
  <h1>Noticias</h1>
</div>
<ul>
  <select name="dog-names" id="dog-names">
    <option value="rigatoni">Fechas</option>
  <option value="dave">Dave</option>
  <option value="pumpernickel">Pumpernickel</option>
  <option value="reeses">Reeses</option>
</select>
<select name="dog-names" id="dog-names">
  <option value="rigatoni">Tipo de Evento</option>
<option value="dave">Dave</option>
<option value="pumpernickel">Pumpernickel</option>
<option value="reeses">Reeses</option>
</select>
<select name="dog-names" id="dog-names">
  <option value="rigatoni">Categoría</option>
<option value="dave">Dave</option>
<option value="pumpernickel">Pumpernickel</option>
<option value="reeses">Reeses</option>
</select>
</ul>
</section>


<section class="news">
  <div>
  <img src="https://s3-alpha-sig.figma.com/img/c378/60e7/a7f77ae50d1e486d78289b75f106c6f2?Expires=1670198400&Signature=K86EDSipbDoxrkD93tiQ9G6hIJXmr-D0sm5xXODDLfltq9hhGuAVsTgE8r2ordcVR8a20JeXkZLF6NzMf~lvMMkaVCCEn-Hw1qh-t4Fu3Yt1PhB94kflrDVBOnqwHJkf1~tSVJ3kzEQsw4kKQICRc7vfRoYAx6~1xar-BM255H4oPQ2tHJpxkh5U8FseYGO8qTd91U~opIyMq2aUuCQ2RXtaXefL4M8dh2zX30GApD0rbF~pKYcE9RtpIDjh2HmcGkANRDvZn2JyE07kMto7BcmHFHu5GOhwr1U2Dx1tMo2hHYZ2wW5CTBLM~~m1x00lWMTtANvC3EpKHMh8ezYk2A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
 <h1>APRIL 14</h1>
 <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto hic ab eos autem saepe sunt sint alias inventore! Possimus cupiditate nesciunt repellendus natus quaerat dignissimos totam commodi iusto fuga eaque.</P>
  </div>
  <div>
    <img src="https://s3-alpha-sig.figma.com/img/d1e9/d4b5/ef573d1ec73e08723977d6b103fa7302?Expires=1670198400&Signature=U0AFeczwLf0P9xWtZrbJfvS18xFBRMRJ-MFXU6heT7-YVK2-jJFbMuhcqtoiBHe8dVHGQoqvZpWRHuiAAkaGc8J6UT6pAbghOsfmM--PQyQ5vaxpHiBJJrXkmFKNo-ga2-vBBVYXIH4dGuicYxZFFJiPJfraEMI-CH6irYjkl5SOdurv0GAU0UC8z7pTslOw~QouDJVLk3okhU-sYgNSMBbK2P21qZEESSnJgDfg1njE62u3~1ABxIRuEE0g6-elSmhYJn6QBQWUqT258YclpOBDs2kFYW0K6YGOk4z0Ovfe3FeCY0lZPSICUAD3Ec3aeeGEOE9bNcrKZXSMaSac4A__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
   <h1>APRIL 14</h1>
   <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto hic ab eos autem saepe sunt sint alias inventore! Possimus cupiditate nesciunt repellendus natus quaerat dignissimos totam commodi iusto fuga eaque.</P>
   </div>
   <div>
   <img src="https://s3-alpha-sig.figma.com/img/2214/e3a7/250ef9deee3a4b6f469d2e9e6eb0a839?Expires=1670198400&Signature=PmaBmXnKHzaQZ~jFMKOba7~HYr1jOu0KZ6CzVmmJm9P0lo~cwHGRNcDgxitweVoQjAxwIHui4758qw-6IJXPogYRq7XwTYNPXs~7uiaownzs7Tu~-1WtJvQfC9YX3pGfIzj-RqtG3ZT1yOoC5Pf6mgfSK2mW9DYWQmDo2Jsw~eV9IUG13uhdgQpAq21gRjMmGvm-etKkmHioL72Ryl6jbiSEe6EfoB~iELriRkgf6hNCUatvYdevFvHVvDuSzlt-uGJRBLK0oxpcM2QJR2cnIL~9toqtxqge8uOY4lEKOVI3DvW88Q3~P3L-SSJrcCgeol8MerYRJgPQ0MiE5Sh~8w__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
   <h1>APRIL 14</h1>
   <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto hic ab eos autem saepe sunt sint alias inventore! Possimus cupiditate nesciunt repellendus natus quaerat dignissimos totam commodi iusto fuga eaque.</P>
   </div>

</section>
<section>
  <div>
  <img src="https://s3-alpha-sig.figma.com/img/1255/1992/ae381ef2b76e31c9b694dac1c8652fdb?Expires=1670198400&Signature=Jy8kKIROuw8knYgZFqDsOeaxzwH9eBRHM1UNIimd~SImU5JHDr5GBdW9Pozn41qPYobe~Ony6wKfwQfKHpanDKHZop~Mxj2AzHFTqpoOaO8wHrnDo0bwE5IGde5RJIEZHAb6HSkdGFFkCZn4fGsYR-b40Grfm2w6qHSJGcK2d8EbcYvqNX8U1SCkBmZ-YPgPmPv6LikKtvxKXu41rnsTrd-w3u3tOKWyw9mCf3xPh7dywLF7usnpjyEOr0qi5ZQJ8mkEaJx6m5P25uQ-j7QaqkXtCuUnybjlviznQLXsCU5evTCnl9Szz8W8QW6CYkr9-6q8xP~jT7hKFipV3sjcsw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
 <h1>APRIL 14</h1>
 <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto hic ab eos autem saepe sunt sint alias inventore! Possimus cupiditate nesciunt repellendus natus quaerat dignissimos totam commodi iusto fuga eaque.</P>
  </div>
  <div>
    <img src="https://s3-alpha-sig.figma.com/img/8bed/b6ce/4774b8ff8c1ba621ed348f1f282ff9ae?Expires=1670198400&Signature=DRUyHw~0d2CUk27~pJGjPVgY9TechGGXBW-v9DSKI3jqOI7EO2MxtNjbhmRvNev1Kwsv50VM7R-ycrhPzOBRCK8kX1DmHff~lDF4JXE7aqO2-wKD3g2GDEBc1iRVqAUewrQ34XaZv6gplSkJ3HD5POVpWTJed~QSFPsk4OCYsRVPbMcDyCtZ8iicD~elTy6mIh1r7tNj3-NspBX3NCcOwVV9O-ErcIrDcBcYP7DKTKn2dmL0vCD0NNgR8yx-joNn7OA-jmpZFCUA0W2myNsh1cxxnN6c7uqznf4PjD-ufSWCHNyfYKFFwhsWlyPniZqNZKIn4YAPyH6ZhydY5~hU3g__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
   <h1>APRIL 14</h1>
   <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto hic ab eos autem saepe sunt sint alias inventore! Possimus cupiditate nesciunt repellendus natus quaerat dignissimos totam commodi iusto fuga eaque.</P>
   </div>
   <div>
   <img src="https://s3-alpha-sig.figma.com/img/3f2e/856d/f8f263edbb810e718e31fc44d7bc1cc7?Expires=1670198400&Signature=TlitaiRgaikdDkT2I8u7lPRVq2dhs1ORv2~wLCjnP5cSK~Gq6jsC250fXASxO1YGatp20m7ROXs-KGXs2WGLnRRVDIX1yDdHw2peElAK5FeOQPdGvlzIeZaa1xmukZ1qN27~dsyTWzgQLHVomcTiHAGUtwuAgSWzZDwFT4pz2ah6IXQu2xloDUaBwqfZ~EXvqzGn8SxBxtysyYMmbAYxJ88wHtqlrzxF0VzrQy54szaB6-Ej~eRfM~zUN8gWYwM3MDgChyqvi8cX9V6WItdcpL7b10kXImEv5oM~GHR5DY560TSQThBJyQcJ3t3wF7A-UB2BLZOe~Qdqktsy4ZfLtw__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
   <h1>APRIL 14</h1>
   <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto hic ab eos autem saepe sunt sint alias inventore! Possimus cupiditate nesciunt repellendus natus quaerat dignissimos totam commodi iusto fuga eaque.</P>
   </div>

</section>
