.nav
 display: flex
 flex-flow: row nowrap
 justify-content: space-between
 margin-top: 54px
 margin-left: 180px
 margin-right: 120px
 margin-bottom: 50px

div
 padding: 10px 10px 10px 10px
h1
 color:  #242565
 font-weight: bold





select
 margin-top: 20px
 border-radius: 50px
 background: #F2F4FF
 font-family: 'Poppins', sans-serif
 width: 168px
 height: 50.94px
 border: none
 margin: 10px

.container
 margin-left: 160px
 margin-bottom: 20px
 border-color: #CCC

img
 width: 343.05px
 height: 250px
 border-top-right-radius: 18.95px
 border-top-left-radius: 18.95px

p
 font-family: 'Poppins', sans-serif
