<div>
  <h1>Noticias</h1>
  <ul>
  <li>fechas</li>
 <li>tipo de evento</li>
 <li>categorias</li>
 </ul>
</div>

<section>
  <div class="noticia">
    <img src="" alt="">
    <h2>apr</h2>
    <h3>14</h3>
    <h4>2010 tour san francisco</h4>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, similique beatae id quia totam magnam esse alias ipsum doloribus! Nemo animi harum tenetur repellat assumenda, quia veniam laboriosam sunt pariatur.
    </p>
</div>
<div class="noticia">
  <img src="" alt="">
  <h2>apr</h2>
  <h3>14</h3>
  <h4>2010 tour san francisco</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, similique beatae id quia totam magnam esse alias ipsum doloribus! Nemo animi harum tenetur repellat assumenda, quia veniam laboriosam sunt pariatur.
  </p>
</div>
<div class="noticia">
  <img src="" alt="">
  <h2>apr</h2>
  <h3>14</h3>
  <h4>2010 tour san francisco</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, similique beatae id quia totam magnam esse alias ipsum doloribus! Nemo animi harum tenetur repellat assumenda, quia veniam laboriosam sunt pariatur.
  </p>
</div>
<div class="noticia">
  <img src="" alt="">
  <h2>apr</h2>
  <h3>14</h3>
  <h4>2010 tour san francisco</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, similique beatae id quia totam magnam esse alias ipsum doloribus! Nemo animi harum tenetur repellat assumenda, quia veniam laboriosam sunt pariatur.
  </p>
</div>
<div class="noticia">
  <img src="" alt="">
  <h2>apr</h2>
  <h3>14</h3>
  <h4>2010 tour san francisco</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, similique beatae id quia totam magnam esse alias ipsum doloribus! Nemo animi harum tenetur repellat assumenda, quia veniam laboriosam sunt pariatur.
  </p>
</div>
<div class="noticia">
  <img src="" alt="">
  <h2>apr</h2>
  <h3>14</h3>
  <h4>2010 tour san francisco</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, similique beatae id quia totam magnam esse alias ipsum doloribus! Nemo animi harum tenetur repellat assumenda, quia veniam laboriosam sunt pariatur.
  </p>
</div>
<div class="noticia">
  <img src="" alt="">
  <h2>apr</h2>
  <h3>14</h3>
  <h4>2010 tour san francisco</h4>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro, similique beatae id quia totam magnam esse alias ipsum doloribus! Nemo animi harum tenetur repellat assumenda, quia veniam laboriosam sunt pariatur.
  </p>
</div>
</section>
