<header>
  <a class="logo" href="#" tabindex=”0” routerLink='/home'>
    <img src="../../../../assets/DLZ-LOGO-Siglas.png" alt="">
  </a>

  <nav class="nav-bar" id="nav-bar">
    <ul>
      <li>
        <a href="#"><strong>Inicio</strong></a>
      </li>
      <li>
        <a href="#"><strong>Galeria</strong></a>
      </li>
      <li>
        <a href="#"><strong>Tienda</strong></a>
      </li>
      <li>
        <a href="#"><strong>La Banda</strong></a>
      </li>
      <li>
        <a href="#"><strong>Calendario</strong></a>
      </li>
      <li>
        <a href="#"><strong>Contrataciones</strong></a>
      </li>
    </ul>

  </nav>

  <div class="buttons">
    <button class="login"  tabindex=”0”><strong>Iniciar Sesión</strong></button>
    <!-- (click)="paginaLogin()" -->
  </div>
</header>
