<nav>
<div class="logo">
<img src="https://s3-alpha-sig.figma.com/img/226c/24da/d26833529a1113de69170d3f4e13b96e?Expires=1669593600&Signature=ai1gbYqVwfuFObnM~c3uQJUvDNcQZv-pr9fsez9qOFFZpom0xQt7-adCF6wacK20kOz0g2jPgUro0fD6AZDsCj~kWwTm9FXc3v~RLTZ2-Y1Z9VFUsfwHsAxCMkSIy-Njcrf3JZjsWsjqI3lKgYiYFC7mRxNujC6u-dyUc~91yQIqIOe4lf84oqOi7We2HKTDFjR9o0mVBMlKrinz6SxR6mmpJab5-rrznlvnWGgBimh8HjTlJ35-6QmwZiLQFj9i6bnIXn2iexeaqM1~EQkuK6kfaJffAdS3Z9Z9bhftbVCqrQlMdKx3czSBDj-bq4fHyowQ~6E3CV3zjDg8b4iszA__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA" alt="">
</div>

<div>
<ul>
<li><a href="">Home</a></li>
<li><a href="">Imagenes/videos</a></li>
<li><a href="">Tienda</a></li>
<li><a href="">La banda</a></li>
<li><a href="">Tours</a></li>
<li><a href="">Contrataciones</a></li>
</ul>
</div>

<div>
<input type="button" value="iniciar sesion"c class="login">
</div>
</nav>
