@import 'extends-class'
@import 'mixins-responsive'

body
  @extend .background
  display: flex
  flex-direction: column
  gap: 5em

  main
    display: flex
    flex-direction: column
    gap: 5em
    @include screen (480px)
     max-heigth:100%
     
