/* You can add global styles to this file, and also import other style files */
@import 'variables'

body
  background-image: $background-DLZ-url
  background-repeat: no-repeat
  background-attachment: fixed
  position: relative
  background-size: 100vw 100vh

