<footer>
  <div class="contenedor">
    <img src="../../../../assets/DLZ-Logo-Nombre-2021.png" alt="">
    <p>¡Síguenos en nuestra comunidad!</p>
    <div class="redes">
      <i class="bi bi-instagram"></i>
      <i class="bi bi-twitter"></i>
      <i class="bi bi-youtube"></i>
    </div>
  </div>

  <section>
    <div class="nosotros">
      <ul>
        <h4><strong>Nosotros</strong></h4>
        <li>
          <a href="">Inicio</a>
        </li>
        <li>
          <a href="">Galeria</a>
        </li>
        <li>
          <a href="">Tienda</a>
        </li>
        <li>
          <a href="">La Banda</a>
        </li>
        <li>
          <a href="">Calendario</a>
        </li>
      </ul>
    </div>

    <div class="faq">
      <ul>
        <h4><strong>FAQ</strong></h4>
        <li>
          <a href="">Politica de Privacidad</a>
        </li>
        <li>
          <a href="">FAQ</a>
        </li>
        <li>
          <a href="">Blog</a>
        </li>
        <li>
          <a href="">Noticias</a>
        </li>
      </ul>
    </div>

    <div class="soporte">
      <ul>
        <h4><strong>Soporte</strong></h4>
        <li>
          <a href="">Tú Cuenta</a>
        </li>
        <li>
          <a href="">Contrataciones </a>
        </li>
      </ul>
    </div>
  </section>
</footer>
