<section>
  <h1>únete a la comunidad</h1>
<h2>¡ Subscribite y accede a evetos Vip,recitales y nuestro Newsletter!</h2>
<input typ0e="name" name="nombre" id="">
<input type="email" name="email" id="">
<textarea name="dejanos tu mensaje" id="" cols="30" rows="10"></textarea>
<input type="submit" value="enviar">
</section>

<section>
<div>
<img src="" alt="">
<h2>¡Siguenos en las redes!</h2>
//button
face, tw, ig. youtube, icloud
</div>
<div>
  <ul>
    <h3>Nosotros</h3>
    <li>
      <a href="">Home</a>
    </li>
   <li>
      <a href="">La Bnnda</a>
    </li>
    <li>
      <a href="">Imagenes/videos</a>
    </li>
    <li>
      <a href="">Tienda</a>
    </li>
  </ul>
</div>

<div>
  <ul>
    <h3>FAQ</h3>
    <li>
      <a href="">Politica de Privacidad</a>
    </li>
   <li>
      <a href="">FAQ</a>
    </li>
    <li>
      <a href="">Blog</a>
    </li>
    <li>
      <a href="">Noticias</a>
    </li>
  </ul>
</div>
<div>
  <ul>
    <h3>Soporte</h3>
    <li>
      <a href="">Tu cuenta</a>
    </li>
   <li>
      <a href="">Contrataciones</a>
    </li>
    <li>
      <a href="">Feedback</a>
    </li>
  </ul>
</div>
</section>

