<section>

  <app-not-found
    [visible]="!products || !products.length"
    notFoundMessage="Aún no hay productos asociados a esta categoría"
    resetLinkText="Volver a la Tienda"
    resetLinkRoute="/store"
  ></app-not-found>

  <section class="contenedor" >

    <div class="contenedor-productos" >
      <ul *ngIf="products && products.length">
        <li *ngFor="let product of products | paginate: { itemsPerPage: 4, currentPage: p }">
          <a routerLink="/store/product/{{ product.id }}">
            <div class="col">
              <div class="image-name">
                <img
                  [src]="product.imageUrl[0]"
                  [alt]="product.name"
                  class="card-img-top"
                >
                <div class="name">
                  <strong>{{ product.name }}</strong>
                </div>
              </div>
            </div>
          </a>

          <div class="contenedor-precio">
            <div class="cart">
              <button>
                <strong><i class="bi bi-cart3"></i></strong>
              </button>
            </div>

            <div class="price">
              <span>
                <strong>{{ product.price | currency }}</strong>
              </span>
            </div>
          </div>
        </li>
      </ul>

      <div class="div-pagination">
        <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="" class="pagination" (responsive)=[true]></pagination-controls>
      </div>
    </div>
  </section>
</section>



