<section class="formulario">
  <div class="box1">

    <div class="titulo">
      <img src="../../../../assets/DLZ-Autito2.png" alt="">
      <h2><strong>Iniciar Sesión</strong></h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form"  name="log-in">

      <div class="inputs">
        <div class="box-mail">
          <label for="">Email</label>
          <input type="text" tabindex=”0” formControlName="email" required>
          <div *ngIf="isValidField('email')">{{ getErrorMessage('email') }}</div>
        </div>

        <div class="box-pass">
          <div class="pass-hide">
            <label for="">Contraseña</label>
            <i
              [className]="hide ? 'bi bi-eye' : 'bi bi-eye-slash-fill'"
              matSuffix
              (click)="hide = !hide">{{ hide ? ' Show' : ' Hide' }}
            </i>
          </div>
          <input
            type="password"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            tabindex=”0” required
          >
          <div *ngIf="isValidField('password')">{{ getErrorMessage('password') }}</div>
        </div>
      </div>

      <div class="login">
        <button [disabled]="loginForm.invalid" type="submit" tabindex=”0” >Iniciar Sesión</button>
        <a
          routerLink='/login/identify'
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          tabindex=”0”>
          <strong>¿Olvidaste tu contraseña?</strong>
        </a>
      </div>

    </form>
  </div>

  <div class="box2">
    <div class="sign-in">
      <p><strong>¿No tienes una cuenta?</strong></p>
      <a
        routerLink='/sign-in'
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        tabindex=”0”>
        <strong>Regístrate.</strong>
      </a>
    </div>
  </div>

</section>

