<section class="formulario">
  <div class="box1">

    <div class="titulo">
      <img src="../../../../assets/DLZ-Autito2.png" alt="">
      <h2><strong>Iniciar Sesión</strong></h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="form"  name="log-in">

      <div class="inputs">
        <div class="box-form">
          <mat-form-field class="example-full-width" color="accent">
            <mat-label for="">Email</mat-label>
            <input class="mat-input" type="email" matInput formControlName="email" placeholder="Ex. delorean@gmail.com">
            <mat-error *ngIf="isValidField('email')">
              <strong>{{ getErrorMessage('email') }}</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="box-form">
          <mat-form-field color="accent">
            <mat-label>Enter your password</mat-label>
            <input matInput type="password" [type]="hide ? 'password' : 'text'" formControlName="password" tabindex=”0” required>
            <i mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </i>
            <mat-error *ngIf="isValidField('password')">
              <strong>{{ getErrorMessage('password') }}</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="login">
        <button [disabled]="loginForm.invalid" class="btn btn-lg" type="submit" tabindex=”0” >Iniciar Sesión</button>
        <a
          routerLink='/login/identify'
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          tabindex=”0”>
          <strong>¿Olvidaste tu contraseña?</strong>
        </a>
      </div>

    </form>
  </div>

  <div class="box2">
    <div class="sign-in">
      <p><strong>¿No tienes una cuenta?</strong></p>
      <a
        routerLink='/sign-in'
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        tabindex=”0”>
        <strong>Regístrate.</strong>
      </a>
    </div>
  </div>

</section>

