<section class="formulario">
  <div class="box1">

    <div class="titulo">
      <img src="../../../../assets/DLZ-Autito2.png" alt="">
      <h2><strong>Iniciar Sesión</strong></h2>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="form"  name="log-in">

      <div class="inputs">
        <div class="box-mail">
          <label for="">Email</label>
          <input type="email" formControlName="email" tabindex=”0” required>
          <div *ngIf="fc['email'].errors"></div>
        </div>

        <div class="box-pass">
          <div class="pass-hide">
            <label for="">Contraseña</label>
            <i [className]="hide ? 'bi bi-eye' : 'bi bi-eye-slash-fill'" matSuffix (click)="hide = !hide">{{ hide ? ' Show' : ' Hide' }}</i>
          </div>
          <input [type]="hide ? 'password' : 'text'" formControlName="password" tabindex=”0” required>
        </div>
      </div>

      <div class="login">
        <button type="submit" tabindex=”0” (click)="submit()">Iniciar Sesión</button>
        <a routerLink='/login/identify' routerLinkActive="active" ariaCurrentWhenActive="page" tabindex=”0”><strong>¿Olvidaste tu contraseña?</strong></a>
      </div>

    </form>
  </div>

  <div class="box2">
    <div class="sign-in">
      <p><strong>¿No tienes una cuenta?</strong></p>
      <a routerLink='/sign-in' routerLinkActive="active" ariaCurrentWhenActive="page" tabindex=”0”><strong>Regístrate.</strong></a>
    </div>
  </div>

</section>

