<section>
  <div class="admin-list">
    <app-admin-list-tours></app-admin-list-tours>
  </div>
  <div class="title">
    <h1><strong>TOURS</strong></h1>
  </div>
  <div class="list" *ngIf="tours.length > 0">
    <ul>
      <li *ngFor="let tour of tours">
        {{ tour.date | date: "EEEE d" | uppercase }} DE {{ tour.date | date: "MMMM" | uppercase }} DEL {{ tour.date | date: "yyyy" | uppercase }} - {{ tour.place | uppercase }} - {{ tour.city | uppercase}}
      </li>
    </ul>
  </div>
</section>
