<section>
  <h1>TOURS 2023</h1>

  <ul>
    <li class="new">8 de junio : Teatro de la Ópera, Madrid, España</li>
    <li class="new">10 de junio : Estadio Olímpico, Barcelona, España</li>
    <li class="new">13 de junio : Arena O2, Londres, Reino Unido</li>
    <li>15 de junio : AccorHotels Arena, París, Francia</li>
    <li>17 de junio : Ziggo Dome, Ámsterdam, Países Bajos</li>
    <li>20 de junio : Mercedes-Benz Arena, Berlin, Alemania</li>
    <li>22 de junio de 2023: Palalottomatica, Roma, Italia</li>
    <li>24 de junio : Arena di Verona, Verona, Italia</li>
    <li>27 de junio : SSE Hydro, Glasgow, Escocia</li>
    <li>6 de julio : Manchester Arena, Manchester, Inglaterra</li>
    <li>8 de julio : First Direct Arena, Leeds, Inglaterra</li>
    <li>10 de julio : Arena Birmingham, Birmingham, Inglaterra</li>
    <li>12 de julio : The O2, Dublín, Irlanda</li>
  </ul>
</section>
