@import 'variables'
@import 'mixins-responsive'


section 
 display: flex
 flex-direction: column
 align-items: center 
 margin: auto
 text-align: center

.title strong
 font-family: $font-general
 font-size: 32px
 line-height: 48px
 letter-spacing: 1px
 color: #FFFFFF
 margin-top: 50px
 



ul
  background: black
  box-shadow: white 0px 5px 15px
  border-radius: 30px
  width: 80%
  height: 80%
  border-radius: 3px
  padding: 20px 20px 20px 20px
  margin: auto
  @include screen (1020px)
   padding: 0px auto
   
  @include screen (760px)
   max-width:100%
   max-height: 100%
  
  @include screen (480px)
   max-width:100%
   max-height: 100%
   
  @include screen (390px)
  max-width:100%
   max-height: 100%

  @include screen (320px)
   max-width:100%
   max-height: 100%
   
  @include screen (290px)
   max-width:100%
   max-height: 100%
   

li
    font-family: $font-general
    font-size: 16px
    margin-left: 20px
    color: #FFFFFF
    font-weight: 400px
    line-height: 48px
    letter-spacing: 1px
    text-align: left
    list-style: none
    text-transform: uppercase
    
    @include screen (1020px)
     font-size: 16px
     margin: 0px auto
     heigth:10px

    @include screen (760px)
     font-size: 10px
     margin: 0px auto
     
     
    @include screen (480px)
     font-size: 10px
     margin: 0px auto
  
     
    @include screen (390px)
     font-size: 10px
     margin: 0px auto
   
     
    @include screen (320px)
     font-size: 10px
     margin: 0px auto
    
     

    @include screen (290px)
     font-size: 10px
     margin: 0px auto
    
     


li:nth-child(-n + 3)
    color: #E01D8D
    font-weight: bold


    @include screen (1020px)
     font-size: 16px
     margin: 0px auto
    

    @include screen (760px)
     font-size: 10px
     margin: 0px auto
          
    @include screen (480px)
     font-size: 10px
     margin: 0px auto
     
    @include screen (390px)
     font-size: 10px
     margin: 0px auto
    
    @include screen (320px)
     font-size: 10px
     margin: 0px auto
    

    @include screen (290px)
     font-size: 10px
     margin: 0px auto
  

