@import 'extends-class'
@import 'mixins-responsive'

section
  @extend .font-general
  width: 80%
  height: auto
  color: $white
  justify-items: center
  padding-top: 40px
  margin-left: 10%


.title h1
  font-size: 50px
  font-weight: bold
  float: left
  margin-left: 20px
  margin-right: 30px

.text p
  width: 100%
  clear: right
  text-align: justify
  padding: 20px 20px 20px 20px
