<section>
  <div class="card">
    <div class="title">
      <h1>Sobre Nosotros</h1>
    </div>
    <div class="text">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident magni itaque totam mollitia eveniet at eum reiciendis. Dolore laboriosam impedit adipisci, corrupti modi cum saepe, distinctio odio hic unde quia.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora explicabo velit similique alias modi accusantium repellendus, dolore inventore maxime nobis eaque adipisci eum necessitatibus voluptates error omnis magnam aperiam architecto.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores ipsam assumenda ut asperiores libero doloremque excepturi, iste fuga sed nostrum itaque vel suscipit omnis tempora? Excepturi dolores eaque modi illum?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ducimus repellendus ratione! Id cupiditate officia omnis dolorum consectetur, magni distinctio, ut fugiat facere blanditiis excepturi voluptates ea nesciunt quaerat ducimus.
      </p>
    </div>

  </div>

</section>
