@import 'extends-class'

body
  @extend .background
  @extend .font-general
  display: flex
  flex-direction: column
  gap: 5em

  main
    display: flex
    flex-direction: column
    // align-items: center
    gap: 5em

  // footer
  //   background-color: $pink




