
section
 background: url(https://s3-alpha-sig.figma.com/img/9425/83a2/f37f1937d6745167f0955e16a1db3ad8?Expires=1669593600&Signature=F2FBKO0pAN9poUFo4T5nkmSXnXZq8D-7TV44LbuE-sE9Q~5Ef8wRwwB6IMx6T4cAYojnGatOIlAKox4E8gwDcj9wRORgTwedOqXnyUbUC~qhGKW1VX4Eu0E5ubBENRQEmZxcb87302qoFiTtTxHyOnDlsYuaUBgP7~uIxcdTsr7wrRB9lUiJH3cFr3QV6WMHWZSzysWn3Uye1UpkOkfoOEpZc1Nw5Dqt2OAEePYwLd3yrjCOzriPrBTfV3agxb2U8aAVijTQ-0gc8IA1zFWWPXPsUhLqb1osd8nI9nOFioxtAEaWHO0Di4NMLVp4f4yBZQdA7nVOQRLMaCEBmYfWHQ__&Key-Pair-Id=APKAINTVSUGEWH5XD5UA)
 width: 1350px
 height: 700px
