<section class="news-carrusel">
  <app-title
    [visible]="true"
    title="Noticias"
    titleButton="Ver más"
    resetLinkRoute="/news"
></app-title>

  <div class="contenedorCarrusel">
    <swiper
    [slidesPerView]="4"
    [spaceBetween]="-10"
    [navigation]="true"
    [loop]="true"
    [loopFillGroupWithBlank]="true"
    [autoplay]="{
      delay: 6000,
      disableOnInteraction: false,
      reverseDirection: true
    }"
    [breakpoints]="{
      '200': {
        slidesPerView: 1,
        spaceBetween: 0
      },
      '768': {
        slidesPerView: 2,
        spaceBetween: 0
      },
      '1280': {
        slidesPerView: 3,
        spaceBetween: 0
      },
      '1680': {
        slidesPerView: 4,
        spaceBetween: 0
      },
      '1920': {
        slidesPerView: 5,
        spaceBetween: 0
      },
      '2560': {
        slidesPerView: 6,
        spaceBetween: 0
      },
      '3400': {
        slidesPerView: 8,
        spaceBetween: 0
      }
    }"
    class="mySwiper"
    >
    <ng-template swiperSlide>
      <div
        class="card-new"
        *ngFor="let new of news"
      >
        <div class="image-new">
          <img [src]="new.imageUrl">
        </div>
        <div class="body-card-new">
          <div class="content">
            <div class="title-date">
              <h4>
                <strong>{{ new.title | titlecase}}</strong>
              </h4>
            </div>
            <div class="date">
              <p class="text-card-new date">{{ new.date | date: 'dd/MM/yyyy' }}</p>
            </div>
          </div>
          <div class="button-readMore">
            <button routerLink="/news/{{ new.id }}"><strong>LEER MÁS</strong></button>
          </div>
        </div>
      </div>
    </ng-template>

    </swiper>
  </div>

</section>
